<ol class="breadcrumb">
  <li class="active">Администрирование</li>
</ol>
<p>На этой странице вы можете администрировать доступные Вам локации.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Локации</h3>
  </div>
  <div class="panel-body">

    <%if @locations.count > 0 %>
      <ul class="nav nav-pills">
        <% for location in @locations %>
          <li role="presentation"><a href="<%=location_url(location)%>"><%=location.name%></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>У вас нет доступа ни к одной локации, обратитесь к администратору.</p>
    <% end %>

  </div>
</div>