<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Лидеры</h3>
  </div>
  <div class="panel-body">
    <div id="chart_person" data-records="<%= @data_person.to_json %>" class="chart"></div>
  </div>
</div>