<h1>Администрирование локации</h1>
<p>На этой странице вы можете администрировать отчеты локации.</p>

<h2>События</h2>
<p>
  <a href="admin/spb/marathon-2014">spb</a>
</p>

<h2>Периоды</h2>
<p>
  <a href="admin/spb/2014/1">Январь</a>
</p>
